{% extends '::layout.html.twig' %}

{% block content %}
    <h2>
        Packagist Proxy
    </h2>
    {% if not is_enabled %}
        <p>Packagist proxying is disabled, you can <a href="{{ path('settings') }}">enable it in the settings</a></p>
    {% else %}
        <ul class="packages">
        {% for package in packages %}
            <li>
                <span class="name">{{ package }}</span>
                <span class="opts">
                    <a href="https://packagist.org/packages/{{ package }}" target="_blank">view on packagist</a>
                </span>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
